<span *ngIf="authVerify===false" id="errorMessage">Hubo un error al iniciar sesión, vuelva a intentarlo</span>
<form [formGroup]="form">
    Username: <input type="text" formControlName="username"/>
    Password: <input type="password" formControlName="password"/>
    <button (click)="login()" [disabled]="!form.valid">Login</button>
</form>