<script type="module">
    import 'genk-search/genk-search.js';
</script>
  
<genk-search></genk-search>

<div *ngIf="pokemons$">
    <div *ngFor="let result of (pokemons$ | async)?.results">
        <li>{{result.name}}</li>
    </div>
    <button #item value="{{(pokemons$ | async)?.previous}}" (click)="changePage(item.value)" *ngIf="(pokemons$ | async)?.previous != null">anterior</button>
    <button #item value="{{(pokemons$ | async)?.next}}" (click)="changePage(item.value)">siguiente</button>
</div>


<div *ngIf="profilePokemon$">
    <li>{{(profilePokemon$ | async)?.name}}</li>
    <li>{{(profilePokemon$ | async)?.base_experience}}</li>
    <li>{{(profilePokemon$ | async)?.height}}</li>
    <div *ngFor="let result of (profilePokemon$ | async)?.types">
        <li>{{result.type.name}}</li>
    </div>
    <li>{{(profilePokemon$ | async)?.weight}}</li>
    <button (click)="addPokemonToPokedex(profilePokemon$)">Añadir pokemon a pokedex</button>
</div>


<div *ngIf="pokemonsStore$ | async as profilesPokemons">
    <div *ngIf="profilesPokemons.length > 0">
      <div *ngFor="let profilePokemon of profilesPokemons">
        {{ profilePokemon.name }}
      </div>
    </div>
</div>